body {
  background: #eee;
}

.attention-visualization {
  font-family: "Roboto Light", "Ubuntu Light", "Ubuntu", monospace;

  .title {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 0.8rem;

    &.inline {
        display: inline-block;
    }
  }

  .select-container {
    padding-top: 10px;
    padding-bottom: 5px;

    select {
      margin-left: 10px;
    }
  }

  .double-select {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .select-container {
      width: fit-content;
    }
  }

  .matrix {
    .label {
      text {
        dominant-baseline: central;
        text-anchor: end;
        font-family: monospace;
      }
    }

    margin-bottom: 20px;
  }

  .text-tokens {

    .token {
      font-family: monospace;
      display: inline-block;
      white-space: pre;
      border: 1px solid #ccc;
      padding: 1px;
      user-select: none;
      cursor: pointer;
    }

    margin-bottom: 10px;
  }

  .dimension-values {
    margin-bottom: 20px;

    .value {
      font-family: monospace;
      white-space: pre;
      display: inline-block;
      margin: 2px;
      width: 15px;
      padding: 2px;
      font-size: 10px;
      text-align: center;
      user-select: none;
      cursor: pointer;

    }
  }
}