.attention-visualization {
    color: #000000;
    background-color: #ffffff;
    .menu {
        background-color: #eee;
        color: #000000;

        pre {
            color: #000000;
            background-color: #eee;
        }
    }

    svg {
        text {
            fill: #000000;
        }
    }

    select {
        padding: 2px 10px;
        border: transparent;
        border-radius: 5px;
        background-color: #f9f9f9;
        font-size: 0.8rem;
        color: #333;
        outline: none;
    }

    .token-info {
        background-color: #eee;
        color: #000000;
    }

    &.dark-theme {
        color: #ffffff;
        background-color: #111111;

        .menu {
            background-color: #333;
            color: #ffffff;

            pre {
                color: #ffffff;
                background-color: #333;
            }
        }

        svg {
            text {
                fill: #ffffff;
            }
        }

        select {
            background-color: #1b1b1b;
            color: #ffffff;
        }

        .token-info {
            background-color: #333;
            color: #ffffff;
        }
    }
}

.attention-visualization {
    font-family: "Roboto Light", "Ubuntu Light", "Ubuntu", monospace;
    overflow-y: scroll;

    .title {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 0.8rem;

        &.inline {
            display: inline-block;
        }
    }

    .select-container {
        padding-top: 10px;
        padding-bottom: 5px;

        select {
            margin-left: 10px;
        }
    }

    .double-select {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .select-container {
            width: fit-content;
        }
    }

    .matrix {
        .label {
            text {
                dominant-baseline: central;
                text-anchor: end;
                font-family: monospace;
            }
        }

        margin-bottom: 20px;
    }

    .text-tokens {
        .token {
            font-family: monospace;
            display: inline-block;
            white-space: pre;
            padding: 2px 5px;
            user-select: none;
            cursor: pointer;
            margin-bottom: 10px;
            background-clip: padding-box !important;

            &.new-line {
                opacity: 0.6;
            }

            .underline {
                display: flex;
                flex-direction: column;

                .item {
                    height: 6px;
                    width: 100%;
                }
            }
        }

        margin-bottom: 10px;
    }

    .token-value-container {
        padding-bottom: 100px;
        width: calc(100% - 20px);

        &.padding-less {
            .token {
                border-left: none !important;
                padding: 0;
                margin-bottom: 3px;
            }
        }
    }

    .dimension-values {
        margin-bottom: 20px;

        .value {
            font-family: monospace;
            white-space: pre;
            display: inline-block;
            margin: 2px;
            padding: 3px 5px;
            font-size: 10px;
            text-align: center;
            user-select: none;
            cursor: pointer;
            width: 3rem;
        }
    }

    .caption {
        font-size: 0.8rem;
        margin-left: 5px;
        margin-right: 5px;
    }

    .token-loss-header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: left;
        width: 100%;
        margin-bottom: 20px;
        align-items: flex-start;
    }

    .hover-container {
        position: relative;
        display: inline-block;
    }

    .menu {
        display: none;
        position: absolute;
        width: max-content;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        min-width: 100px;
        max-width: 50vw;
        padding: 5px;
        white-space: nowrap;

        pre {
            background-color: transparent;
            text-wrap: wrap;
        }
    }

    .menu.right-align {
        right: 0;
        left: auto;
    }

    .hover-container:hover {
        border: 1px solid #878686;
    }

    .legend {
        display: flex;
        flex-direction: column;
        width: fit-content;

        .row {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            width: 100%;
            overflow-y: auto;

            .legend-item {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .color {
                width: 8px;
                height: 8px;
                border-radius: 50%;
            }

            .token-value {
                font-family: monospace;
                white-space: pre;
                display: inline-block;
                margin-left: 5px;
                text-align: center;
            }
        }
    }

    .spaced-row {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        max-width: 600px;
    }

    .selected-token {
        font-family: monospace;
        white-space: pre;
        display: inline-block;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }

    .token-info {
        width: 100%;
        height: 100%;
        overflow: auto;
        margin-left: 30px;
        padding: 5px;
    }
}
