@media (prefers-color-scheme: dark) {

  .attention-visualization {
    color: #eee;
  }

  .attention-visualization {
    .menu {
      background-color: #333;
    }
  }
}

@media (prefers-color-scheme: light) {

  .attention-visualization {
    color: #333;
  }

  .attention-visualization  {
    .menu {
      background-color: #eee;
    }
  }
}


.attention-visualization {
  font-family: "Roboto Light", "Ubuntu Light", "Ubuntu", monospace;
  overflow-y: scroll;

  .title {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 0.8rem;

    &.inline {
        display: inline-block;
    }
  }

  .select-container {
    padding-top: 10px;
    padding-bottom: 5px;

    select {
      margin-left: 10px;
    }
  }

  .double-select {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .select-container {
      width: fit-content;
    }
  }

  .matrix {
    .label {
      text {
        dominant-baseline: central;
        text-anchor: end;
        font-family: monospace;
      }
    }

    margin-bottom: 20px;
  }

  .text-tokens {

    .token {
      font-family: monospace;
      display: inline-block;
      white-space: pre;
      padding: 2px 5px;
      user-select: none;
      cursor: pointer;
      margin-bottom: 10px;
      background-clip: padding-box !important;

      &.new-line {
        opacity: 0.6;
      }
    }

    margin-bottom: 10px;
  }

  .token-value-container {
    padding-bottom: 100px;
    width: calc(100% - 20px);

    &.padding-less {
      .token {
        border-left: none !important;
        padding: 0;
        margin-bottom: 3px;
      }
    }
  }

  .dimension-values {
    margin-bottom: 20px;

    .value {
      font-family: monospace;
      white-space: pre;
      display: inline-block;
      margin: 2px;
      padding: 3px 5px;
      font-size: 10px;
      text-align: center;
      user-select: none;
      cursor: pointer;
      width: 3rem;
    }
  }
  
  .hover-container {
    position: relative;
    display: inline-block;
  }
  
  .menu {
    display: none;
    position: absolute;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 100px;
    max-width: 50vw;
    padding: 5px;
    white-space: nowrap;

    pre {
      background-color: transparent;
      text-wrap: wrap;
    }
  }

  .menu.right-align {
    right: 0;
    left: auto;
  }
  
  .hover-container:hover .menu {display: block;}
}